@font-face {
  font-family: title-font;
  src: url('./fonts/abigate\ desgo.otf');
}

@font-face {
  font-family: selection-font;
  src: url('./fonts/Rantera.otf');
}

@font-face {
  font-family: body-font;
  src: url('./fonts/Ginra\ Sans\ Regular.otf');
}


body, 
.App{
  height: 100vh;
  width: 100vw; 
  overflow-x: hidden; 
  background-color: #FFFCF7;
}

h1, h2, h3, h4, p{
  margin: 0;
  color: black;
}

a{
  text-decoration: none;
}

.App{
  display: flex; 
  flex-direction: column;
}

.nav-tab{
  width: 100%;
  /* border: solid 1px; */
  display: grid; 
  grid-template-columns: 1fr 1fr;

}

.nav-links{
  grid-column: 2;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: end;
  margin: 1em;
  font-family: selection-font;
  font-size: 1.5em;
}

.nav-tab h3{
  margin: 0;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: fit-content;
  height: 100%;
 
  /* border: solid 1px;  */
  
}


.title h1,
.title h2{
  font-family: title-font;
  margin: 0;
  padding: 0;
}

.title h1{
  line-height: 0.75em;
}

.home-title h1{
  font-size: 10em;
}

.nav-title{
  margin-left: 1em;
  font-size: 1.25em;
}

.nav-title h2{
 font-size: 0.5em;
}

.about{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; 
  padding: 3em 0.5em 3em 0.5em; 
  gap: 1em;
}

.about h2,
.about p{
  color: white; 
  text-align: center;
}

.about h2{
  font-family: title-font; 
}
.about p{
  font-family: body-font; 
}

.about>div{
  width: 50%; 
}

.home-page{
  height: 100%; 
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.25fr;
} 

/* .home-page > .title{
  justify-self:start;
} */

.home-page > .about{
  justify-self: end; 
  align-self: center; 
}

.home-page > .latest-posts{
  border-top: solid 2px; 
  grid-column: 1/ span 2;
}

.home-page> .social-links{
  display: flex;
  flex-direction: column;
  position: absolute; 
  bottom: 0;
  right: 0;
  padding: 1em;
  
}

.social-links img{
  width: 2em; 
}

.latest-posts h2{
  font-size: 1.5em; 
  font-family: title-font; 
}

.home-decor-gif{
  position: absolute; 
  /* border: solid 2px;  */
  /* overflow: hidden;  */
  width: 200px; 
  /* height: 200px; */
  top:0;
  left: 0; 
}

/* .home-decor-gif img{
  width: 100%; 
} */

.nav-decor{
  position: absolute; 
  width: 50%; 
  height: 1em; 
  background-color: black ;
  top: 0; 
  left: 0; 
  right: 0;
  margin-left: auto;
  margin-right: auto; 
}

.nav-links a:hover{
  font-style: italic;
}

.latest-posts{
  padding-top: 1em;
  display: flex; 
  flex-direction: column;
  justify-content: center;

}
.latest-posts h2{
  font-size: 2.5em;
}

.latest-post-item{
  font-family: body-font;
  font-size: 2em;
  display: flex; 
  width: 90%; 
  justify-content: space-between; 
}

.works-page{
  border-bottom: 2px solid;
  border-top: 0;
  border-right: 2px solid; 
  border-left: 2px solid; 
  margin: 1em; 
  height: 100%; 
  overflow-y: scroll; 
  display: flex; 
  flex-direction: column;
}

.works-header{
  padding: 0 1em 0 1em;
  border-bottom: 2px solid; 
}

.works-content{
  padding: 1em; 
}

.post-content{
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  height: 100%; 

}

.content-editor {
  align-self: flex-end;
  border: 1px solid rgb(203, 201, 201); 
  border-radius: 25px; 
}

.content-editor select,
.content-editor input {
  background-color:transparent;
  border: none;
  text-align: right;
}

.works-list-section{
  margin-bottom: 1em;
  font-family: body-font;
}

.works-list-section h3{
  border-bottom: 1px solid; 
  width:100%;
  font-size: 2em;
}

.works-list-section p{
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 1.5em;
}

.works-list{
  padding: 2em;
}


.sort-dropdown > label{
  font-family: body-font; 
}

.sort-dropdown > select{
  background-color: transparent;
  border: 1px solid rgb(203, 201, 201); 
  border-radius: 25px; 
  font-family: body-font; 
}

.works-header h2{
  font-family: body-font;
  letter-spacing: 0.25em;
}

.works-header a{
  color: black; 
}

/* scrollbar */

::-webkit-scrollbar{
  background-color: black;
}
::-webkit-scrollbar-track{
  background:hsla(36, 100%, 98%, 0.882);
}

::-webkit-scrollbar-thumb{
  background: black;
}

::-webkit-scrollbar-thumb:hover{
  background-color: black;
}