/* fonts */
@font-face {
  font-family: title-font;
  src: url('./fonts/abigate\ desgo.otf');
}

@font-face {
  font-family: selection-font;
  src: url('./fonts/Rantera.otf');
}

@font-face {
  font-family: body-font;
  src: url('./fonts/Ginra\ Sans\ Regular.otf');
}

/* app */
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFCF7;
}

.App{
  height: 100vh;
  width: 100vw; 
  background-color: #FFFCF7;
  overflow:hidden;
  display: flex; 
  flex-direction: column;
  /* border: solid 1px;  */
  
  @media screen and (min-width:1920px) {
    width: 1920px;
  }

  @media screen and (min-height:1080px){
    height: 1080px; 
  }

}

h1, h2, h3, h4, p{
  margin: 0;
  color: black;
}

a{
  text-decoration: none;
}

/* navigation bar */
.nav-tab{
  box-sizing: border-box;
  width: 100%;
  height: 6em;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  /* border: solid 1px;  */
}

.nav-links{
  grid-column: 2;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: end;
  font-family: selection-font;
  font-size: 1.5em;
  
  @media screen and (min-width:1980px){
    font-size: 2em;
  }

  @media screen and (max-width:430px){
    font-size: 1em;
  }
}

.nav-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-link img{
  width: 1em;
  display: none;
}

.nav-link:hover img{
  display: unset;
}

/* homepage */
.home-page{
  height: 100%; 
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.75fr 0.25fr;
  align-items: center;

  @media screen and (max-width:430px){
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    border: solid 1px; 
  }
} 

/* title */
.title{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: fit-content;
  height: fit-content;
  /* border: solid 1px;  */
}

.title h1,
.title h2{
  /* border: solid 1px;  */
  font-family: title-font;
}

.title h1{
  line-height: 0.75em;
}

.home-title h1{
  font-size: 12em;

  @media screen and (min-width: 1300px){
    font-size: 15em;
  }

  @media screen and (max-width: 880px){
    font-size: 8em;
  }

  @media screen and (max-width: 430px){
    font-size: 5em;
  }
}

.nav-title{
  margin-left: 1em;
  font-size: 1em;
  height:100%;
/* 
  @media screen and (max-width: 430px){
    display: none; 
  } */
  
}

.nav-title h2{
 font-size: 0.5em;
}

.about{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; 
  box-sizing: border-box;
  padding: 3em 0.5em 3em 0.5em; 
  gap: 1em;
}

.about h2,
.about p{
  color: white; 
  text-align: center;
}

.about h2{
  font-family: title-font; 
}
.about p{
  font-family: body-font; 
}

.about>div{
  width: 50%; 
}




.home-page > .about{
  justify-self: end; 
  align-self: center; 
}

.home-page > .latest-posts{
  border-top: solid 2px; 
  grid-column: 1/ span 2;
}

.home-page> .social-links{
  display: flex;
  flex-direction: column;
  position: absolute; 
  bottom: 0;
  right: 0;
  padding: 1em;
  
}

.social-links img{
  width: 2em; 
}

.latest-posts h2{
  font-size: 1.5em; 
  font-family: title-font; 
}

.nav-decor{
  position: absolute; 
  width: 50%; 
  height: 1em; 
  background-color: black ;
  top: 0; 
  left: 0; 
  right: 0;
  margin-left: auto;
  margin-right: auto; 
  transition: height 3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-decor p{
  opacity: 0%;
  transition: opacity 1s;
}

.nav-decor:hover{
  height: 3em;
}

.nav-decor:hover p{
  display: unset;
  color:#FFFCF7; 
  opacity: 100%;
}

.latest-posts{
  padding-top: 1em;
  display: flex; 
  flex-direction: column;
  justify-content: center;
}
.latest-posts h2{
  font-size: 2.5em;
}

.latest-post-item{
  
  font-family: body-font;
  font-size: 2em;
  width: 90%;
  display: flex;
}

.latest-post-item li{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between; 

}

.latest-post-item:hover{
  background-color: black;
}

.latest-post-item:hover *{
  color:#FFFCF7;
}

.works-page{
  border-bottom: 2px solid;
  border-top: 0;
  border-right: 2px solid; 
  border-left: 2px solid; 
  margin: 1em;
  height: 100%; 
  overflow-y: scroll; 
  display: flex; 
  flex-direction: column;
}

.works-header{
  padding: 0 1em 0 1em;
  border-bottom: 2px solid; 
}

.works-content{
  padding: 1em; 
}

.post-content{
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
  height: 100%; 

}

.content-editor {
  align-self: flex-end;
  border: 1px solid rgb(203, 201, 201); 
  border-radius: 25px; 
}

.content-editor select,
.content-editor input {
  background-color:transparent;
  border: none;
  text-align: right;
}

.works-list-section{
  margin-bottom: 1em;
  font-family: body-font;
}

.works-list-section h3{
  border-bottom: 1px solid; 
  width:100%;
  font-size: 2em;
}

.works-list-section p{
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 1.5em;
}

.works-list-section p:hover{
  background-color: black;
  color:#FFFCF7;
}

.works-list{
  padding: 2em;
}


.sort-dropdown > label{
  font-family: body-font; 
}

.sort-dropdown > select{
  background-color: transparent;
  border: 1px solid rgb(203, 201, 201); 
  border-radius: 25px; 
  font-family: body-font; 
}

.works-header h2{
  font-family: title-font;
  letter-spacing: 0.25em;
}


.works-header a{
  color: black; 
}

/* scrollbar */

::-webkit-scrollbar{
  background-color: black;
}
::-webkit-scrollbar-track{
  background: rgb(224,221,216)
}

::-webkit-scrollbar-thumb{
  background: black;
}

::-webkit-scrollbar-thumb:hover{
  background-color: black;
}

.contact-page{
  height: 100%;
  overflow:hidden;
}

.nav-decor{
  display: flex; 
  justify-content: center;
  align-items: center;

}
.nav-decor p{
font-family: 'Times New Roman', Times, serif;
}